*{margin: 0;
padding: 0;
box-sizing: border-box;
}
body 
{
       background-image: url(Images\bg-image.jpg );
       background-size: cover;
      
 }

.containr{
    width: 660px;
    height: 2350px;
    background-color:  rgba(0, 0, 0, 0.5); 
    border-radius: 5px;
    position: relative;
    margin: 8% auto;
    color: white;
}
.para{
    width: 660px;
    /* height: 100px; */
    /* background-color: transparent; */
    background-color:  rgba(0, 0, 0, 0.5); 
    border-radius: 5px;
    position: relative;
    text-align: center;
    border:5px;
    margin-left:150px;

    margin: 8% auto;
    font-size: 20px;
    align-items: center;
}
h2{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.hebro{
    margin-left: 170px;
    margin-bottom: 50px;
    margin-top:20px;
    font-size: 16px;
    /* margin: 50px 50px; */
    margin-bottom: 10px;

}
.containr form{
    /* width: 280px; */
    position: absolute;
    
}
.btn-box{
    width: 100%;
    margin: 30px auto;
    text-align: center;
}
form button{
    width: 110px;
    height:35px;
    border-radius: 50px;
    margin:10px 10px;
    background: linear-gradient(to right, #DFA3FF, #B429FF);
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
}
audio{
    margin-left:160px;
}
.para1{
    width: 660px;
    /* height: 100px; */
    /* background-color: transparent; */
    background-color:  rgba(0, 0, 0, 0.5); 
    border-radius: 5px;
    position: relative;
    text-align: center;
    border:5px;
    margin-top:150px;

    margin: 20px auto;
    font-size: 20px;
    align-items: center;
}